<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.LqcSpringBoot.mapper.CcMapper" >
  <resultMap id="BaseResultMap" type="com.example.LqcSpringBoot.model.Cctable" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="customername" property="customername" jdbcType="VARCHAR" />
    <result column="customerphone" property="customerphone" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="ccdate" property="ccdate" jdbcType="VARCHAR" />
    <result column="cccount" property="cccount" jdbcType="VARCHAR" />
    <result column="ccprice" property="ccprice" jdbcType="VARCHAR" />
    <result column="ccsumprice" property="ccsumprice" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="pnumber" property="pnumber" jdbcType="VARCHAR" />
    <result column="customeraddress" property="customeraddress" jdbcType="VARCHAR" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="ccfs" property="ccfs" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectList" resultMap="BaseResultMap" >
    select id, type, customername, customerphone, color, ccdate, cccount, ccprice, ccsumprice, 
    bz, pname, pnumber, customeraddress, orderid,ccfs
    from cctable
  </select>

  <!--条件查询-->
  <select id="selectKuserBysameting" resultMap="BaseResultMap">
    select * from cctable  where 1=1
    <if test="orderid != null and orderid != ''">
      AND orderid = #{orderid}
    </if>
    <if test="customerphone != null and customerphone != ''">
      AND customerphone = #{customerphone}
    </if>
    <if test="start != null and start!=''">
      AND ccdate &gt;= #{start}
    </if>
    <if test="end !=null and end!=''">
      AND ccdate &lt;= #{end}
    </if>

  </select>

  <!--删除-->
  <delete id="deleteKuserById">
    delete from cctable where id = #{id};
  </delete>
  <!--出库总数-->
  <select id="selectcountBYtable" resultType="java.lang.String">
    select count(DISTINCT orderid) AS zdds FROM cctable
  </select>
  <!--查询数据每月订单数量-->
  <select id="selectListByyears" resultType="java.lang.Integer">
    select IFNULL(b.sum, 0) ordercount,a.date
    from  (
            select DATE_FORMAT(adddate(DATE_SUB(CURDATE(), INTERVAL dayofyear(now()) - 1 DAY),
                                       INTERVAL numlist.id - 1 month), '%Y-%m') as date
            from (SELECT @xi := @xi + 1 as id
              from (SELECT 1 UNION SELECT 2 UNION SELECT 3) xc1,
              (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4) xc2,
              (SELECT @xi := 0) xc0) as numlist
          ) a
            left join
          (
            SELECT count(*) sum, DATE_FORMAT(ccdate, '%Y-%m') as date
            FROM cctable WHERE YEAR(ccdate) = YEAR(NOW()) GROUP BY date ORDER BY date
          ) b
          on a.date = b.date order by date
  </select>
</mapper>